<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <app-logo></app-logo>
      <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="register" >Register</a></li>
      <li><a routerLink="products">Products</a></li>
      <li><a href="#">Cart {{cart.length}}</a></li>
      <li><a routerLink="login">Login </a></li>
    </ul>
  </div>
</nav>
