<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    </head>
    <body>
     <% include header %>
        <h1>Welcome to login</h1>
         <% include footer %>
    </body>
</html>