<form [formGroup]="loginForm"  class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="username">User Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="username" 
      [formControl]="loginForm.controls['username']"
      placeholder="Enter User Name">
    </div>
    <span class="text-danger" 
    *ngIf="loginForm.dirty && loginForm.controls['username'].hasError('required')">UserName is required</span>
    <span class="text-danger" 
    *ngIf="loginForm.dirty && loginForm.controls['username'].hasError('minlength')">UserName is minimum of length 5</span>
    <span class="text-danger" 
    *ngIf="loginForm.dirty && loginForm.controls['username'].hasError('maxlength')">UserName is maximum of length 10</span>
  </div>
  <button  class="btn btn-primary" (click)="login()">Login</button>
  </form>
