<app-header></app-header>
<h1>{{dateOfBirth|date:'dd/MM/yyyy hh:mm:ss'}}</h1>
<select [(ngModel)]="currencyType">
    <option value="inr">India</option>
    <option value="usd">United States</option>
</select>
<h1>{{phone|format:currencyType}}</h1>

<h1>{{price|currency :currencyType:true}}</h1>
<!-- <app-register></app-register> -->
<input type="text" datepicker>
<router-outlet></router-outlet>