<!-- <div class="row">
  <div class="col-md-4" *ngFor="let p of products">
    <div class="thumbnail">
     
        <img [src]="p.picture" alt="Lights" style="width:100%">
        <div class="caption">
          <p>{{p.Make + "-"+ p.Model}}</p>
          <p><button class="btn btn-primary" (click)="add(p)">+</button>
            <label class="badge">{{p.quantity}}</label>
          <button class="btn btn-primary" (click)="remove(p)">-</button>
          </p>
        </div>
    
    </div>
  </div>
</div> -->



<p-dataGrid [value]="products" [paginator]="true" [rows]="20">
    <p-header>
        List of Products
    </p-header>
    <ng-template let-product pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel  [style]="{'text-align':'center'}">
                <img src="{{product.picture}}" width="60">
                <div class="car-detail">{{product.Model}} - {{product.Make}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <i class="fa fa-search" (click)="selectProduct(product)" style="cursor:pointer"></i>
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>

<p-dialog header="Product Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProduct" style="font-size:16px;text-align:center;padding:20px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" style="text-align:center"><img src="assets/showcase/images/demo/car/{{selectedProduct.picture}}.png"></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Make: </div>
            <div class="ui-grid-col-8">{{selectedProduct.Make}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Model: </div>
            <div class="ui-grid-col-8">{{selectedProduct.Model}}</div>
        </div>
    </div>
</p-dialog>