<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="username">User Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="username" 
      [(ngModel)]="profile.UserName"
      placeholder="Enter User Name">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="FirstName">First  Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control"
      [(ngModel)]="profile.firstName"
      id="firstname" placeholder="Enter First Name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control"
      [(ngModel)]="profile.email"
      id="email" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="pwd" 
      [(ngModel)]="profile.password"
      placeholder="Enter password">
    </div>
  </div>
<div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Country:</label>
    <div class="col-sm-4">
      <select class="form-control" [(ngModel)]="profile.selectedCountry">
            <option *ngFor="let c of countries" [value]="c.code">{{c.name}}</option>
      </select>
    </div>
  </div>
<div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Country:</label>
    <div class="col-sm-4">
     <app-dropdown [configuration]="dropdownConfig"
     (dropdownchange)="countryChanged($event)"
     ></app-dropdown>
    </div>
  </div>

  

<div class="form-group">
    <label class="control-label col-sm-2" for="gender">Gebder:</label>
    <div class="col-sm-4">
      <input type="radio"  id="gender" name="gender" 
      [(ngModel)]="profile.gender"
      value="M">Male
      <input type="radio"  id="gender" name="gender" [(ngModel)]="profile.gender"
      placeholder="Enter password"
      value="F">Female
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="profile.remember"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" 
      (click)="register()"
      [disabled]="!profile.remember"
      class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
{{profile|json}}












